{% extends 'layout/base.html' %}

{# Django template language #}
{# Django 템플릿에 사용할 수 있는 특수한 언어 #}
{# => 템플릿 변수, 템플릿 태그, 템플릿 필터, 템플릿 코멘트 #}
{# 템플릿 변수 : {{ 변수명 또는 객체명.속성명 }} #}
{# 템플릿 태그 : {% 태그명 또는 코드명 %} #}
{# 템플릿 필터 : 변수의 값을 특정한 형식으로 변경  {{ 변수명 | 필터명 }} #}
{# 템플릿 코멘트 : {% comment %} 여러줄 주석 {% endcomment %} #}
{% comment %} 템플릿 코멘트 : {# 한줄 주석 #} {% endcomment %}

{% block title %}member/join{% endblock %}

{% block style %}
/* 회원가입 폼 배치하기 */
form { /*border: 1px solid red;*/ width: 350px;
    margin: 150px auto; }

/* 회원가입 폼요소에 여백주기 */
form div { margin-top: 10px }

/* 회원가입 폼 라벨에 너비 설정 */
/* display - 인라인요소를 블록요소로 변경 */
form label { display:inline-block;
    width: 120px; text-align: right;
    font-weight: bold }

/* 회원가입 폼 버튼 위치 설정 */
form button:first-child { margin-left: 125px }
{% endblock %}

{% block content %}

{# 만약, 로그인되어있다면, #}
{# 회원가입 페이지는 더이상 보이면 안됨 #}
{% if request.session.userid %}
    <script>location.href='/';</script>
{% endif %}

<h2>회원가입</h2>
<form name="joinfrm" id="joinfrm" method="post">
    {# Django built-in template filter #}
    <div style="color: red">{{ error|safe }}</div>

    {% csrf_token %} {# 동일 출처origin 확인용 쿠키 생성 #}
    <div><label for="userid">아이디</label>
    <input type="text" name="userid" id="userid" value="{{ form.userid }}">
    </div>

    <div><label for="passwd">비밀번호</label>
    <input type="password" name="passwd" id="passwd"></div>

    <div><label for="repasswd">비밀번호 확인</label>
    <input type="password" name="repasswd" id="repasswd"></div>

    <div><label for="name">이름</label>
    <input type="text" name="name" id="name" value="{{ form.name }}"></div>

    <div><label for="email">이메일</label>
    <input type="text" name="email" id="email" value="{{ form.email }}"></div>

    <div><!--<label></label>-->
     <button type="submit" id="joinbtn">입력완료</button>
     <button type="reset">다시입력</button>
    </div>
</form>
{% endblock %}

{% block jscript %}
{% comment %}
<script>
    const joinfrm = document.querySelector('#joinfrm');
    joinfrm.addEventListener('submit', (e) => {
        let userid = document.joinfrm.userid;
        let passwd = document.joinfrm.passwd;
        let repasswd = document.joinfrm.repasswd;
        let name = document.joinfrm.name;
        let email = document.joinfrm.email;

        if (userid.value == '') {   // 아이디에 입력한 값이 공백이면
            alert('아이디를 입력하세요!'); userid.focus();
            e.preventDefault();
        } else if (passwd.value == '') {
            alert('비밀번호를 입력하세요!'); passwd.focus();
            e.preventDefault();
        } else if (repasswd.value == '') {
            alert('비밀번호 확인을 입력하세요!'); repasswd.focus();
            e.preventDefault();
        } else if (name.value == '') {
            alert('이름을 입력하세요!'); name.focus();
            e.preventDefault();
        } else if (email.value == '') {
            alert('이메일을 입력하세요!'); email.focus();
            e.preventDefault();
        } else if (passwd.value != repasswd.value) {
            alert('비밀번호가 서로 일치하지 않습니다!!'); passwd.focus();
            e.preventDefault();
        }
    });
</script>
{% endcomment %}


{% endblock %}



