{% extends 'layout/base.html' %}

{% block title %}member/myinfo{% endblock %}

{% block style %}
/* 로그인한 회원의 정보 테이블 배치 */
table { /*border: 1px solid red;*/
   margin: 120px auto }

/* 회원 정보 각 행에 여백 주기 */
th, td { padding: 10px }

/* 회원 정보 테이블의 제목 정렬하기 */
th { text-align: right }
{% endblock %}

{% block content %}
    {# 만약, 로그인을 안했다면, #}
    {# 회원정보 페이지는 보여지면 안됨 #}
    {% if not request.session.userid %}
        <script>
            alert('회원전용페이지입니다!');
            location.href = '/login';
        </script>
    {% endif %}

    <h2>회원정보</h2>
    <table>
        <tr><th>아이디</th><td>{{ member.userid }}</td></tr>
        <tr><th>이름</th><td>{{ member.name }}</td></tr>
        <tr><th>이메일</th><td>{{ member.email }}</td></tr>
        <tr><th>가입일</th><td>{{ member.regdate }}</td></tr>
    </table>
{% endblock %}

{% block jscript %}{% endblock %}